.workshop {
  background-color: black;
  padding: 40px 0;
}

.heading-workshop {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-style: normal;
  color: cyan;
  font-size: 4.5rem;
  margin-bottom: 20px;
  line-height: 65px;
  font-weight: lighter;
}

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

@media only screen and (max-width: 768px) {
  .heading-workshop {
    font-size: 7vw;
  }
}
