.imgcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 290px;
    margin: 0;
    gap: 0;
    position: relative;
  }
  
  .imgcard > img {
    z-index: 1;
    position: absolute;
    border: 2px solid cyan;
    top: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 80px;
  }
  
  .title-workshopcard {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    height: 30%;
    width: 100%;
    font-weight: 900;
    text-align: center;
    color: cyan;
  }
  
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: max-content;
  }
  
  .description {
    margin-left: 10px;
    box-sizing: border-box;
    padding: 2.5%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-align: justify;
    width: fit-content;
    height: max-content;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 1rem;
    background-image: linear-gradient(-60deg, cyan, #a855f7);
  }
  
  .main_reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: max-content;
  }
  
  .description_reverse {
    margin-right: 20px;
    box-sizing: border-box;
    padding: 2.5%;
    display: flex;
    justify-content: center;    
    text-align: justify;
    width: fit-content;
    height: max-content;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 1rem;
    background-image: linear-gradient(-60deg, cyan, #a855f7);
  }
  
  @media only screen and (max-width: 768px) {
    .main {
      margin-top: 50px;
      flex-direction: column;
    }
  
    .main_reverse {
      margin-top: 25px;
      flex-direction: column;
    }
  
    .title-workshopcard {
      font-size: 4vw;
      width: 100%;
      height: fit-content;
    }
  }
  