.eventPage1 {
    text-align: center;
    background-color: #000;
    color: #F56E8F;
    height: 1100px;
    border-radius: 10px;
  }
  
  .title1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  .cards {
    display: flex;
    justify-content: center;
    gap: 110px;
  }
  
  .card {
    width: 260px;        /* Width of the rectangle */
    height: 280px;       /* Height of the rectangle */
    transform: skew(20deg); /* Skew to create the parallelogram effect */
    background-color: #000;
    
  }
  
  .data {
    background-color: #F56E8F;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    color: #000;
  } 
  
  .card img {
    width: 100%;        /* Width of the rectangle */
    height: 100%;       /* Height of the rectangle */
    object-fit: cover;
    object-position: center;
  }
  
  .card p {
    background-color: #F56E8F;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    height: 120px;
  }
  
  .folder {
    position: relative;
    color: #fff;
    width: 150px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-color: #F56E8F; /* Folder color */
    border: 2px solid #F56E8F; /* Folder border color */
    border-radius: 10px;
    transform : skew(-20deg);
  }
  
  .folder::before {
    content: '';
    position: absolute;
    top: -20px; /* Adjust to position the flap correctly */
    left: 0;
    width: 60%;
    height: 20px; /* Height of the flap */
    background-color: #F56E8F; /* Same as folder color */
    border-bottom: 2px solid #F56E8F; /* Border to match the folder */
    border-radius: 5px 5px 0 0; /* Rounded corners for the flap */
    transform: skew(-20deg); /* Skew the flap to match the folder shape */
    transform-origin: left bottom; /* Ensure correct skew origin */
  }
  