.workshop{
  background-color: black;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  color: #E79997;
}

.card1{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}