.timeline {
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
    width: 100vw;
    
        height: 100%;
    
        /* position: absolute; */
        top: 0;
        left: 0;
}
.container{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    animation: movedown 1s linear forwards;
    opacity: 0;

}
@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
            transform: translateY(0px);
    }
}
.container:nth-child(1){
    animation-delay: 0s;
}
.container:nth-child(2){
    animation-delay: 0.5s;
}
.container:nth-child(3){
    animation-delay: 1s;
}
.container:nth-child(4){
    animation-delay: 1.5s;
}
.container:nth-child(5){
    animation-delay: 2s;
}
.container:nth-child(6){
    animation-delay: 2.5s;
}
.container:nth-child(7){
    animation-delay: 3s;
}
.container:nth-child(8){
    animation-delay: 3.5s;
}
.container:nth-child(9){
    animation-delay: 4s;
}
.textBox{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    transition: transform 0.4s ease-in-out;
    color: black;
}
.textBox:hover{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    transform: scale(1.05);
    border: 2px solid rgb(16, 203, 240);
}
.leftContainer{
    left: 0;
}
.rightContainer{
    left: 50%;
}
.container img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
     top: 32px;
     z-index: 10;
}
.rightContainer img{
    left: -20px;
}
.timeline::after{
content: '';
position: absolute;
width: 6px;
height: 100%;
background: #fff;
top: 0;
left: 50%;
margin-left:-3px ;
z-index: -1;
animation: moveline 3s linear forwards;
}
@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}
.textBox h2{
    font-weight: 600;
    color: black;
}
.textBox small{
    display: inline-block;
    margin-bottom: 15px;
    color: black;
}
.leftContainerArray{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}
.rightContainerArray{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
     border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px; 
  
}
@media screen and (max-width:600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .textBox{
        font-size: 13px;
    }
    .textBox small{
        margin-bottom: 10px;
    }
    .rightContainer{
        left: 0;
    }
    .leftContainer img,.rightContainer img{
        left: 10px;
    }
    .leftContainerArray,.rightContainerArray{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
        
    }
}
#bg {
    /* width: 100vw;

    height: 100vh; */

    position: absolute;
    top: 0;
    left: 0;
}