.about-section {
  display: flex;
  flex-direction: column; /* Changed to column to stack content vertically */
  align-items: center;
  justify-content: center;
  padding: 5%;
  background-color: #0f172a; /* Updated background to slate-900 */
  color: #e2e8f0; /* Updated text color to light gray */
  width: 100vw;
  box-sizing: border-box; /* Ensure padding does not affect width */
}

.content-container {
  width: 100%;
  max-width: 800px; /* Increased max-width to fill more space */
  padding: 20px;
}

.heading-about {
  font-size: 4rem; /* Adjusted for better fit */
  margin-bottom: 20px;
  line-height: 1.2;
  font-weight: bold;
  color: #0ea5e9; /* Cyan for headings */
}

.highlight {
  color: #0ea5e9; /* Cyan for highlighting */
}

.highlight1 {
  color: #0ea5e9;
  text-align: center; /* Centered text for better alignment */
}

.text-container-about {
  font-size: 1.2rem;
  line-height: 1.6; /* Adjusted line-height for better readability */
  text-align: center; /* Centered text for better alignment */
  color: #94a3b8; /* Gray text */
}

@media (max-width: 768px) {
  .about-section {
    flex-direction: column;
  }
  
  .content-container {
    width: 100%;
  }

  .heading-about {
    font-size: 3rem;
  }
}
