.hero-container {
    z-index: 0;
    background-image: url(https://img.freepik.com/free-photo/digital-art-inmersive-exhibition_23-2151428542.jpg?uid=R104855026&ga=GA1.1.2062392418.1721451223&semt=ais_hybrid);
    background-repeat: no-repeat;
    background-size: cover; /* Cover ensures the image covers the full container */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white; /* Keep the text white */
    padding: 25px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent background */
    border-radius: 10px; /* Rounded corners for a clean look */
}

.small1, .small2 {
    margin: 2px;
    font-size: 30px;
    color: white; /* Keep the text white */
}

.big {
    font-size: 110px;
}

.button {
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: white;
    
}

.button button {
    background-color: transparent;
    color: white;
    margin: 15px;
    padding: 15px; /* Adjusted for consistent spacing */
    border: 5px solid white;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out; /* Smooth transition for hover effects */
}

@media only screen and (max-width: 768px) {
    .big {
        font-size: 40px;
    }
    
    .button button {
        font-size: 1rem; /* Smaller buttons for mobile */
        padding: 10px;
    }
}

.button button:hover {
    font-size: 1.6rem; /* Slight increase for hover */
    box-shadow: 5px 5px 10px black;
}
