/* General styling */
.team-section {
  background-color: black;
}

.slider-container {
  max-width:100%; /* Controls the width of the entire carousel */
  margin: 2rem 2rem; /* Centers the carousel on the screen */
}

/* Team Card */
.team-card {
  background-color:black;
  /* border: 1px solid #e0e0e0;
  border-radius: 8px; */
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  height: 350px; /* Set a fixed height */
  width: 250px;  /* Set a fixed width */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Ensures content is vertically centered */
  align-items: center;
  margin: auto;
  left: 0;
  right: 0;
   top: 0; 
  bottom: 0;
}

/* Team Image */
.team-image-container {
  height: 200px;
  width: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-image {
  height: 200px;;
  width:fit-content;
  transition: transform 0.3s ease-in-out;
}

/* Hover effects */
.team-card:hover .team-image {
  transform: scale(1.1);
}

.team-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Team Info */
.team-info {
  margin-top: 10px;
}

/* Ensuring name stays in one line */
.team-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

/* Slider Dots Styling */
.slick-dots li button:before {
  color: #c5973c;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #c5973c;
}

